$primary: #603e85;
$primary-active: #503270;
$gray-200: #111111;
$gray-300: #413f3f;
$gray-400: #818181;
$gray-500: #b8b8b8;
$gray-600: #f3f3f3;
$gold-gradient: -webkit-linear-gradient(#ffca23, #ffb200);
